*.pch
*.pdb
KevinSpel/Saved/Cooked/*
KevinSpel/Saved/Autosaves/
KevinSpel/Saved/Backup/
KevinSpel/Saved/Crashes/
KevinSpel/Saved/Logs/
KevinSpel/Saved/StagedBuilds/
KevinSpel/Saved/Tmp/
KevinSpel/Saved/TmpPackaging/
KevinSpel/Binaries/Win64/KevinSpel.exe
KevinSpel/Intermediate/Staging/KevinSpel.exe
KevinSpel/modding_workspace/output/
KevinSpel/.vs/KevinSpel/v15/Browse.VC.db
